<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"
></script>

<link
  rel="stylesheet"
  type="text/css"
  href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
/>

<script
  type="text/javascript"
  src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
></script>


<script src="../js/customer-home.js" type="text/javascript"></script>

<title>Academic Writing - Home</title>

{{#if success}}
  <div
    class="alert alert-success alert-dismissible fade show"
    id="alert"
    role="alert"
  >
    <strong>{{success}}</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}
{{#if registered}}
  <div
    class="alert alert-success alert-dismissible fade show"
    id="alert"
    role="alert"
  >
    <strong>{{registered}}</strong>
    New account registered
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}

{{> user-header}}

<div class="container">
  <div class="h4 py-2 onyx">
    {{#if userFirstName}}
      Hi there
      {{userFirstName}}
    {{/if}}
  </div>
</div>

<div>

</div>

<div class="container container3">

  {{#if rows}}
    <div class="row responsive slick">
      {{#each rows}}
        
        <div class="col-md col-xxl-2 children">
          <a class="ord-alink" href="order/{{this.uuid}}">
            <div class="ord-cell">
              <div class="top-rectangle"></div>
              <div class="top-dots"></div>
              <div class="ord-img bd-blue">
                <div class="ord-prew">
                  {{!-- <div class='book-min-title'>Title:<br />{{this.title}}</div> --}}
                  <div class="book-min-title">{{this.title}}</div>
                  <div class="book-min-aut green">Academic Writing </div>
                </div>
              </div>
              {{! <div class='ord-content ps-5 py-3'> }}
              <div class="ord-content ps-4 rem py-3">
                <div class="ord-text ps-2rem">
                  {{! <div class='ord-uuid'> }}
                  <div class="row">
                    <div class="col-6">
                      ID:
                    </div>
                    <div class="col-6 ord-uuid">
                      {{this.uuid}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      Type Paper:
                    </div>
                    <div class="col-6 ord-uuid">
                      {{this.type_paper}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      Num. of Pages:
                    </div>
                    <div class="col-6 ord-uuid">
                      {{this.number_of_pages}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      Created:
                    </div>
                    <div class="col-6 ord-uuid">
                      {{this.date_time_created}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      Status:
                    </div>
                    <div class="col-6 fw-boldish onyx ord-uuid">
                      {{this.status}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="bottom-rectangle"></div>
              <div class="bottom-dots"></div>
            </div>

          </a>
        </div>

      {{/each}}
      {{! <div class='new-ord-cell d-flex'> }}
      <div class="col-md col-xxl-2 d-flex justify-content-start">

        <a class="new-ord-cell d-flex" href="/pricing">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="bi bi-plus-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
            ></path>
          </svg>
          {{! <div class="new-order-cont">New Order</div> }}
          <div class="orange">Create a new Order</div>

        </a>
      </div>
      {{! </div> }}
    </div>
  {{else}}
    {{! <div class='col-md col-xxl-2'> }}
    {{! <div class='ord-cell flex-column w-100 border'> }}
    <div class="w-100">
      <a class="new-ord-cell d-flex" href="/pricing">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="bi bi-plus-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
          ></path>
        </svg>
        {{! <div class="new-order-cont">New Order</div> }}
        <div class="orange">Create a new Order</div>
      </a>
    </div>
    {{! </div>
          </div> }}
  {{/if}}
  {{! </div> }}
</div>

<br />
<section class="container mh">
  <div class="row">
    <div class="col-lg-8">

      <div class="card mb-4">
        <div class="card-header"></div>
        <div class="card-body">
          <div>
            Curent Orders
          </div>
          <div>
            Total Orders
          </div>
          <div>
            Payments to be made

          </div>
          <div>
            Some
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">

      <div class="">

        <div class="card mini-summary2">
          <div class="h5 onyx">Amazing things for FREE</div>
          <hr class="mb-0" />
          <ul id="mini-ul2">
            <li>
              <div class="mini-summary-serv-title">
                Title page
              </div>
              <div class="d-flex">
                <div>for
                  <span>$4.99</span>
                </div>
                <div class="free">FREE</div>
              </div>
            </li>

            <hr class="my-0" />

            <li>
              <div class="mini-summary-serv-title">
                Formating
              </div>
              <div class="d-flex">
                <div>for
                  <span>$7.99</span>
                </div>
                <div class="free">FREE</div>
              </div>
            </li>

            <hr class="my-0" />

            <li>
              <div class="mini-summary-serv-title">
                Title page
              </div>
              <div class="d-flex">
                <div>for
                  <span>$4.99</span>
                </div>
                <div class="free">FREE</div>
              </div>
            </li>

            <hr class="my-0" />

            <li>
              <div class="mini-summary-serv-title">
                Title page
              </div>
              <div class="d-flex">
                <div>for
                  <span>$4.99</span>
                </div>
                <div class="free">FREE</div>
              </div>
            </li>

            <hr class="my-0" />
          </ul>
          <a
            href="/pricing"
            class="btn bg-orange text-white enjoy-button"
          >Enjoy</a>
        </div>

      </div>
    </div>
  </div>

</section>