<script src='../js/all.js' type='text/javascript' defer></script>

<title>Academic Writing - Account</title>
<div class='empty-space'></div>

<div class='container mt-4'>
  <nav class='navbar navbar-expand-lg navbar-light'>
    <div class='container-fluid'>
      <button
        class='navbar-toggler'
        type='button'
        data-bs-toggle='collapse'
        data-bs-target='#navbarTogglerDemo01'
        aria-controls='navbarTogglerDemo01'
        aria-expanded='false'
        aria-label='Toggle navigation'
      >
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarTogglerDemo01'>
        <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
          <li class='nav-item'>
            <a
              class='nav-link active ms-0'
              aria-current='page'
              href='/customer-home'
            >Home</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link active' href='/pricing'>New Order</a>
          </li>
          <li class='nav-item'>
            <a
              class='nav-link active current'
              href='/customer-orders'
            >Orders</a>
          </li>
        </ul>
        <div class='dropdown'>
          <button
            class='btn btn-outline-secondary dropdown-toggle'
            type='button'
            id='dropdownMenuButton1'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            Account
          </button>
          <ul class='dropdown-menu' aria-labelledby='dropdownMenuButton1'>
            <li><a class='dropdown-item' href='/profile'>Profile</a></li>
            <li><a class='dropdown-item' href='/billing'>Billing</a></li>
            <li><a class='dropdown-item' href='/security'>Security</a></li>
            <li><a
                class='dropdown-item'
                href='/notifications-settings'
              >Notifications</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

</div>
<hr class='mt-0 mb-4' />

<section class='container'>
  <div class='h4 py-2 mt-3'>Customer orders</div>

</section>
<div class='container'>
  <div class='mb-5 pb-5 mt-2 min-h-60'>

    <div class='list-group'>
      {{#if data}}
        {{#each data}}
          <a
            href='#'
            class='list-group-item list-group-item-action'
            aria-current='true'
          >
            <div class='d-flex w-100 justify-content-between'>
              <h5 class='mb-1 truncate'>{{inc @index}}.{{this.title}}</h5>
              <small>{{days this.date_time_created}}</small>
            </div>
            <div class='d-flex justify-content-between'>
              <div>
                <p class='mb-1'>{{this.type_service}}</p>
                <small>And some small print.</small>
              </div>
              <div>{{this.status}}</div>
            </div>
          </a>
        {{/each}}
      {{else}}
        <div class='w-100'>
          <a class='new-ord-cell d-flex' href='/pricing'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='30'
              height='30'
              fill='currentColor'
              class='bi bi-plus-circle-fill'
              viewBox='0 0 16 16'
            >
              <path
                d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z'
              ></path>
            </svg>
            {{! <div class="new-order-cont">New Order</div> }}
            <div class='orange'>Create a new Order</div>
          </a>
        </div>
      {{/if}}
    </div>

  </div>
</div>