<script src='../js/customer-orders.js' type='text/javascript' defer></script>

<title>Academic Writing - Account</title>


{{> user-header}}

{{!-- <section class='container conteiner-res mt-0'> --}}

{{!-- </section> --}}
<div class='container container-res mt-0 pt-0'>
  <div class='h4  mb-4'>Customer orders</div>
  <div class='mb-5 pb-5 mt-2 min-h-60'>

    <div class='list-group gap-5'>
      {{#if data}}
        {{#each data}}
          <a
            href='order/{{this.uuid}}'
            class='list-group-item2 list-group-item-action p-5'
            aria-current='true'
          >
            <div class='d-flex w-100 justify-content-between border-bottom'>
              <div class='mb-1 truncate h4 pb-2'>{{this.title}}</div>
              <small>{{formatDate this.date_time_created}}</small>
            </div>
            <div class='d-flex justify-content-between pt-2'>
              <div class="max-w-50">
                <p class='mb-1'>{{this.type_service}}</p>
                <small id="description">{{this.description}}</small>
              </div>
              <div class="fw-boldish">{{this.status}}</div>
            </div>
          </a>
        {{/each}}
      {{else}}
        <div class='w-100'>
          <a class='new-ord-cell d-flex' href='/pricing'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='30'
              height='30'
              fill='currentColor'
              class='bi bi-plus-circle-fill'
              viewBox='0 0 16 16'
            >
              <path
                d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z'
              ></path>
            </svg>
            {{! <div class="new-order-cont">New Order</div> }}
            <div class='orange'>Create a new Order</div>
          </a>
        </div>
      {{/if}}
    </div>

  </div>
</div>