{{! <script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script> }}
<script src="../js/login.js" type="text/javascript" defer></script>
<title>Academic Writing - Login</title>

{{!-- {{#if success}}
  <div class='alert alert-success alert-dismissible fade show' role='alert'>
    <strong>{{success}}</strong>
    You are logged in as user
    <button
      type='button'
      class='btn-close'
      data-bs-dismiss='alert'
      aria-label='Close'
    ></button>
  </div>
{{/if}} --}}

{{#if systemError}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Sorry :(</strong>
    {{systemError}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}
{{#if emailError}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Sorry :(</strong>
    {{emailError}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}
{{#if passError}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Sorry</strong>
    {{passError}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}

<div class="empty-space"></div>

<main>
  <section class="container mt-10vh mb-10vh">
    <div class="max-width-320 my-5 mx-auto">

      <div class="mb-3 mt-3">
        <h3 class="h2 font-weight-bold text-center orange">
          Log-in
        </h3>
      </div>
      <h6 class="h5 mb-0 px-4 text-center">Welcome back.</h6>
      <form
        id="loginForm"
        class="form-signin d-flex flex-column gap-3 p-4"
        action="/login"
        method="post"
      >
        <div class="form-label-group">
          <label class="h5 normal-weight text-muted" for="inputLogEmail">Email
            address</label>
          <input
            type="email"
            id="inputLogEmail"
            name="inputLogEmail"
            class="form-control mt-1"
            placeholder="Email address"
            required
            autofocus
          />
        </div>
        <div class="form-label-group">
          <label
            class="h5 normal-weight text-muted"
            for="inputLogPassword"
          >Password</label>
          <input
            type="password"
            id="inputLogPassword"
            name="inputLogPassword"
            class="form-control mt-1"
            placeholder="Password"
            required
          />
        </div>
        <div
          id="login-error"
          class="alert alert-danger mt-3"
          style="display: none;"
        ></div>

        {{! <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div> }}
        {{!-- {{#if message}}
              <div id='alert'>{{message}}</div>
            {{/if}} --}}

        <button
          id="submit"
          class="btn w-100 btn-lg btn-block text-white my-3 bg-orange"
          type="submit"
        >Sign in</button>

        <p class="text-center">
          Not registered?
          <a class="" href="/register">Register here!</a>
        </p>

      </form>
    </div>
  </section>
</main>